

# Groq (modelos llama3, llama3-8b) - gratis, cuota generosa
GROQ_API_KEY=gsk-4QyM88iTnAeLJp0YQqkH33b4XaE90185193572


# Cerebras (modelos cerebras-llama, cerebras-scout)
CEREBRAS_API_KEY=csk-dm66x98pp4rd5c8ynedx66t88nt636k2n6fmmcvvywj2jyv9

# SambaNova (modelos samba-deepseek, samba-llama)
SAMBANOVA_API_KEY=108fc67c-2ec2-497b-bb56-d14ff3369abb

